
header { 
width: 100%;
background-color: grey;

}

body {
    display:flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.projects {
    width: 100px;
    height: 100px;
}

.background_image {
    width: 100%;
    height: 200px;
}